@{
    ViewBag.Title = "Listado de productos";
}
<h2>@ViewBag.Title.</h2>


<table>
    <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
    </tr>

    <tr>
        <td>Reproductor MP3 (80 GB)</td>
        <td>192.02</td>
    </tr>

    <tr>
        <td>Fundas de colores</td>
        <td>2.50</td>
    </tr>

    <tr>
        <td>Reproductor de radio &amp; control remoto</td>
        <td>12.99</td>
    </tr>

</table>
