@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asador Las Palmeras<br></h1>
    <p class="lead">San Fernando, Cádiz<br></p>
    <p><a href="~/Descargas/menua5.pdf" class="btn btn-primary btn-lg">Descargue nuestra carta de productos en PDF</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>c/. Luis Milena 3, bajo</h2>
        
    </div>
    <div class="col-md-4">
        <h2>956.894.295</h2>
    </div>
</div>